@charset "utf-8";
/* CSS Document */

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header{
	flex-basis: 70px;
	flex-grow: 0;
	flex-shrink: 0;
}
.contents_mn{
	width: 100%;
	flex: 1;
	/* flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1; */
}
.contents_mn .card{
	width: 85%;
	height: auto;
	margin-top: 10px;	
}
.contents_mn .card ul{  
	display: flex;
	margin: 0 14px;
	flex-wrap: wrap;
	width: 100%;
}
.contents_mn .card li{  
	flex-basis: 30%;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 20px 10px;
	margin-top: 20px;
}
.contents_mn .card img{ 
	width:100%;
	overflow: hidden;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6); */
    /* transition: box-shadow 0.4s ease; */
	border-radius: 10px;
}
.contents_mn .card>ul>li>a .overlay{
	position:absolute;
	bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
	background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
    padding: 15px 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.4s ease;	
}
.contents_mn .card>ul>li>a:hover img {
    transform: scale(1);
}
.contents_mn .card>ul>li>a:hover .overlay{
    opacity: 1;
}
.contents_mn .card>ul>li>a:hover {
    transform: translateY(-6px);
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.2); */
}
.contents_mn #px{
	font-size: 55px;
	font-family: Arial, Helvetica, sans-serif;
	height: 70px;
	text-align: left;
	margin: 40px 0px 0px 1px;
	line-height: 70px;
	padding: 20px 28px;
	width: 100%;
}
footer{
	flex-basis: 100px;
	flex-grow: 0;
	flex-shrink: 0;
}