@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding:0;
	list-style:none;
	font-family:"맑은 고딕";
	/* color:#333333; */
}
body{
    width: 100%;
    height: 100vh;
	min-width: 1200px;
	background-color:#ffffff;
	font-size:20px;
}
a{
	text-decoration:none;
	display:block;
}
header{           
    width:100%; 
	height:70px; 
    background: #ffffff;
}
.wrap{            
	width:100%;
}
.logo{
	float: left;
	width: 180px;
}
.logo img{           
	float: left;
	height: 40px;
	margin: 15px 10px; 
}
.menu{           
	float:right;
	width: calc(100% - 180px); 
	height:70px;
}
.navi{
	display: flex;
    margin: 10px 0;
	margin-left: 20px;
    margin-right: 180px;	
}
.navi>li{        
	flex: 1;
}
.navi>li>a{       
	width:150px;
	height:50px;
	line-height:50px; 
	font-size:20px;
	text-align:center;
	color:#000;
}
.navi>li>a span{
	display: block;
	float: right;
}
i.fa-solid{
	float: left;
	color:#000;
}
i::before{
	font-size: 20px;
	position: absolute;
	top: 27px;
	margin-left: 35px;
	/* color: #000; */
}
#px{
	font-size: 55px;
	font-family: Arial, Helvetica, sans-serif;
	height: 70px;
	text-align: left;
	margin-top: 20px;
	/* margin-left: 100px; */
	line-height: 70px;
	padding: 20px 28px;
	width: 100%
}
.card{
	width: 85%;
	margin-top: 10px;	
}
.card ul{  
	display: flex;
	margin: 0 14px;
	flex-wrap: wrap;
	width: 100%;
}
.card li{  
	flex-basis: 30%;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 20px 10px;
	margin-top: 20px;
}
.card img{ 
	width:100%;
	overflow: hidden;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6); */
    /* transition: box-shadow 0.4s ease; */
	border-radius: 10px;
}
.card>ul>li>a .overlay{
	position:absolute;
	bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
	background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
    padding: 15px 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.4s ease;	
}
.card>ul>li>a:hover img {
    transform: scale(1);
}
.card>ul>li>a:hover .overlay{
    opacity: 1;
}
.card>ul>li>a:hover {
    transform: translateY(-6px);
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.2); */
}
.more_btn {
    padding: 12px 24px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    }
.more_btn:hover {
    background-color: #357ab8;
    }
.agbutton{
	width: 280px;
	height: 50px;
	margin: 50px auto 50px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 2px;
	border-radius: 4px;
	border: 2px solid #e7e7e7;
	color: #000;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
.agbutton:hover{
	color: #4a90e2;
	border-color: #7eb2ec;
	background-color: #addef8;
}